<head th:fragment="headFragment">
    
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}">Ritzy - Home</title>

  <link rel="shortcut icon" href="/image/Fevicon.svg" type="image/x-icon" />

    <!-- Boostrap css -->
    <link rel="stylesheet" href="/bootstrap-5.2.3/bootstrap-5.2.3-dist/css/bootstrap.min.css" />

    <!-- Boostrap js -->
    <script src="/bootstrap-5.2.3/bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>

    <!-- fontawesome -->
    <link rel="stylesheet" href="/fontawesome-free-6.4.2/fontawesome-free-6.4.2-web/css/all.css" />



    <!-- link common css file -->
    <link rel="stylesheet" href="/style/common.css" />

    <!-- link form style css file -->
    <link rel="stylesheet" href="/style/formStyles.css">
  
    <!-- link table css file -->
    <link rel="stylesheet" href="/style/tableStyles.css">



    
    <!-- link jquery js file -->
    <script src="/script/jQuery.js"></script>

    <!-- link validation js file -->
    <script src="/script/validation.js"></script>
    
    <!-- link tableCommonFuntion ja file -->
    <script src="/script/tableCommonFunctions.js"></script>

    <!-- link commonFuntion js file -->
    <script src="/script/commonFunctions.js"></script>

    <!-- link dashboard js file -->
    <script src="/script/dashboard.js"></script>
    
   


    
    <!-- link datatable js file -->
    <script src="/DataTables-1.13.6/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/DataTables-1.13.6/css/jquery.dataTables.min.css"></link>
    
    
</head>