<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ commonHtmlHead :: headFragment }">

</head>

<head>

    <!-- link dress js file -->
    <script src="\Controllerjs\dresscatalog.js"></script>

</head>

<body class="body-scrollbar-customization">

    <!-- Topnavbar -->
    <nav th:replace="~{ topnavbar :: topnavbarFragment }"></nav>

    <div class="container mt-5">
        <div class="card glass-morph-card p-3" style="margin-top: 150px;">
            <div class="card-body">
                <!-- nav -->
                <nav>
                    <div class="nav nav-pills nav-justified">
                        <a href="#nav-table" id="tablDress" data-bs-toggle="tab" role="tab"
                            class="nav-link  active">Table
                        </a>
                        <a href="#nav-form" id="dressForm" data-bs-toggle="tab" role="tab" class="nav-link">Form
                        </a>

                    </div>
                </nav>

                <div class="tab-content">
                    <!-- tab table start -->
                    <div class="tab-pane show active" id="nav-table">
                        <div class="row mt-2">
                            <div class="mt-3">
                                <!-- table tab start -->
                                <div class="row  p-3">

                                    <div class="border-primary">
                                        <!-- table start -->
                                        <table class="table" id="tableDress">
                                            <thead class="table-header text-center">
                                                <tr>
                                                    <th>Dress ID</th> <!-- #,No,Index -->
                                                    <th>Dress Code</th>
                                                    <th>Dress image</th>
                                                    <th>Dress Name</th>
                                                    <th>Rental Price</th>
                                                    <th style="width:180px">Availability</th>
                                                    <th style="width:290px">Action</th>
                                                </tr>

                                            </thead>
                                            <tbody class="table-body text-start">
                                                <tr>
                                                    <td>1</td>
                                                    <td><img src="" alt=""></td>
                                                    <td class="text-start">Lehenga</td>
                                                    <td class="text-start">21000.00</td>
                                                    <td>21000.00</td>
                                                    <td> </td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>

                                </div>
                                <!-- table tab End -->
                            </div>
                        </div>
                    </div>
                    <!-- tab table end -->

                    <!-- tab form start -->
                    <div class="tab-pane" id="nav-form">
                        <div class="m-3">
                            <!-- form area start -->
                            <div class="row mt-2">
                                <div class="mt-3">
                                    <!-- form start -->
                                    <form id="DressForm" class="formBody" onsubmit="return false">
                                        <!-- Form Header Start -->
                                        <div class="row">
                                            <div class="col-6 pt-4">
                                                <h1>Dress Catalog Form</h1>
                                            </div>
                                            <div class="col-6 text-end">
                                                <img src="/image/Logo_NowhiteBG.svg" alt="Logo" class="Logo-image">
                                            </div>
                                            <hr>
                                        </div>
                                        <!-- Form Header Start -->

                                        <!-- * required mark -->
                                        <div class="row">
                                            <div class="col-12 text-end">
                                                <span class="fw-bold"><span class="text-danger">
                                            </div>
                                        </div>

                                        <!-- Dress Style Start-->
                                        <div class="row mt-3">
                                            <label for="dressStyle" class="col-2 col-form-label ">
                                                Style : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressStyle" class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','style_id'); categoryAndTypeFilterByStyle();  generateDressName()">
                                                    <option value="" disabled selected>Select Dress Style</option>
                                                    <option value="">Sri Lankan</option>
                                                    <option value="">Indian</option>
                                                    <option value="">Western</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Dress Style End-->

                                        <!-- Dress Category Start-->
                                        <div class="row mt-3">
                                            <label for="dressCategory" class="col-2 col-form-label ">
                                                Category : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressCategory"
                                                    class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','category_id');  generateDressName()">
                                                    <option value="" disabled selected>Select Dress Category</option>
                                                    <option value="">Bridala Gown</option>
                                                    <option value="">Bridal Frock</option>
                                                    <option value="">Lehenga</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Dress Category End-->

                                        <!-- Dress Type Start -->
                                        <div class="row mt-3">
                                            <label for="dressType" class="col-2 col-form-label ">
                                                Dress Type : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressType" class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','dress_type_id'); generateDressName()">
                                                    <option value="" disabled selected>Select Dress Type</option>
                                                    <option value="">Bridala Gown</option>
                                                    <option value="">Bridal Frock</option>
                                                    <option value="">Lehenga</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Dress Type End -->

                                        <!-- Dress Size Start -->
                                        <div class="row mt-3">
                                            <label for="dressSize" class="col-2 col-form-label ">
                                                Size : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressSize" class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','sizes_id'); generateDressName()">
                                                    <option value="" disabled selected>Select Dress Size</option>
                                                    <option value="">S</option>
                                                    <option value="">M</option>
                                                    <option value="">L</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Dress Size End -->

                                        <!-- Name Start -->
                                        <div class="row mt-3">
                                            <label for="dressName" class="col-2 col-form-label ">
                                                Dress Name : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <input type="text" onkeyup="textValidator(this,'','dress','dress_name')"
                                                    placeholder="Enter Dress Name"
                                                    class="form-control shadow-sm gradient-border" id="dressName"
                                                    required disabled>
                                            </div>
                                        </div>
                                        <!-- Name End -->


                                        <!-- Dress Color Start -->

                                        <!-- Price Start -->
                                        <div class="row mt-1">
                                            <label for="dressPrice" class="col-2 col-form-label ">
                                                Dress Rental Price : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <input type="text"
                                                    onkeyup="textValidator(this,'^(([1-9]{1}[0-9]{0,5})||([1-9]{1}[0-9]{0,5}[.][0-9]{2}))$','dress','price')"
                                                    placeholder="Enter Dress Rental Price"
                                                    class="form-control shadow-sm gradient-border" id="dressPrice"
                                                    required>
                                            </div>
                                        </div>
                                        <!-- Price End -->

                                        <!-- Condition of the Dress Start -->
                                        <div class="row mt-1">
                                            <label for="dressCondition" class="col-2 col-form-label ">
                                                Dress Condition : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressCondition"
                                                    class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','dress_condition_id');">
                                                    <option value="" disabled selected>Select Dress Condition</option>
                                                    <option value="">New Arraivals</option>
                                                    <option value="">Rented Few Times</option>
                                                    <option value="">Damaged/Needs Attention</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Condition of the Dress End -->


                                        <!-- Availability of the Dress Start -->
                                        <div class="row mt-3">
                                            <label for="dressAvailability" class="col-2 col-form-label ">
                                                Dress Availability : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10">
                                                <select id="dressAvailability"
                                                    class="gradient-border shadow-sm form-control"
                                                    onchange="selectDValidator(this,'','dress','dressavailability_id');">
                                                    <option value="" disabled selected>Select Dress Availability
                                                    </option>
                                                    <option value="">Available</option>
                                                    <option value="">Not Available - Rented</option>
                                                    <option value="">Reserved</option>
                                                    <option value="">Under Maintenance</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- Availability of the Dress End -->

                                        <!-- Image of the Dress Start -->
                                        <div class="row mt-3">
                                            <label for="fileDressImage" class="col-2 col-form-label ">
                                                Dress Image : <span class="text-danger"> * </span>
                                            </label>
                                            <div class="col-10" style="display: flex; justify-content: space-between; align-items: center;">
                                                <button type="button" id="btnSelectImage" class="btn btn-back m-0"
                                                    style="width:49%" onclick="fileDressImage.click();">
                                                    Select Dress Image
                                                </button>
                                                <button type="button" id="btnClearImage" class="btn btn-cancel m-2"
                                                    style="width:49%" onclick="buttonClearImage()">
                                                    Clear
                                                </button>

                                                <input type="text" disabled
                                                    class="form-control shadow-sm gradient-border m-2"
                                                    id="textDressImage">
                                                <input type="file"
                                                    class="custom-file-input gradient-border shadow-sm form-control d-none mt-1"
                                                    id="fileDressImage"
                                                    onchange="validateFileField(this,'dress','image','image_name',imgDefaultDress ,textDressImage )">
                                                
                                                    <img src="/image/imagePerview.jpg" style="height: 100px; width: 75px;" alt="DefaultDressImage" id="imgDefaultDress">

                                            </div>
                                        </div>
                                        <!-- Image of the Dress End -->

                                        <!-- Note Start -->
                                        <div class="row mt-2">
                                            <label for="textNote" class="col-2 col-form-label ">
                                                Note :
                                            </label>
                                            <div class="col-10">
                                                <textarea placeholder="Enter Note"
                                                    onkeyup="textValidator(this,'^.*$','dress','note')" rows="1"
                                                    id="textNote"
                                                    class="form-control shadow-sm gradient-border"></textarea>
                                            </div>
                                        </div>
                                        <!-- Note End -->

                                        <!-- Buttons Start -->
                                        <div class="row justify-content-between mt-4">
                                            <div class="col-6">
                                                <button type="button"
                                                    onclick=" DressForm.reset(); refreshDressForm(); $('#tablDress').tab('show')"
                                                    class="btn btn-back col-5">Back to Dress Catalog Table</button>
                                            </div>
                                            <div class="col-6 text-end">
                                                <button id="btnClearDress" type="button"
                                                    onclick="DressForm.reset(); refreshDressForm(); "
                                                    class="btn btn-cancel col-3">Clear</button>
                                                <button id="btnEditDress" type="button"
                                                    onclick=" DressForm.reset(); editDress();"
                                                    class="btn btn-edit col-3">Edit</button>
                                                <button id="btnSubmitDress" type="submit"
                                                    onclick="DressForm.reset(); buttonDressSumbit();  "
                                                    class="btn btn-success col-3">Save</button>
                                            </div>
                                        </div>
                                        <!-- Buttons End -->

                                    </form>
                                    <!-- form end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tab form end -->

                </div>



            </div>
        </div>



</body>

</html>