<!DOCTYPE html>
<html lang="en">

<head th:replace="~{ commonHtmlHead :: headFragment }">

</head>

<head>

    <!-- link dress js file -->
    <script src="\Controllerjs\reportpurchasereqpending.js"></script>



</head>

<body class="body-scrollbar-customization">

    <!-- Topnavbar -->
    <nav th:replace="~{ topnavbar :: topnavbarFragment }"></nav>

    <div class="container mt-5">
        <div class="card glass-morph-card p-3" style="margin-top: 150px;">
            <div class="card-body">
                <!-- nav -->
                <nav>
                    <div class="nav nav-pills nav-justified">
                        <a href="#nav-table" id="tablDressPReqpending" data-bs-toggle="tab" role="tab"
                            class="nav-link  active">Pending Purchase Request Report
                        </a>

                    </div>
                </nav>

                <div class="tab-content">


                    <!-- tab table start -->
                    <div class="tab-pane show active" id="nav-table">
                        <div class="row mt-2">
                            <div class="mt-3">
                                <!-- table tab start -->
                                <div class="row  p-3">
                                    
                                    <!-- report actions Start -->
                                    <div class="row justify-content-between mt-4">
                                        <div class="col-10 ">
                                            

                                        </div>

                                        <div class="col-2 text-end p-0">
                                            <button type="button" class="btn btn-view col-10">
                                                Print
                                            </button>
                                        </div>
                                    </div>
                                    <!-- report actions End -->


                                    <div class="border-primary mt-4">
                                        <!-- table start -->
                                        <table class="table" id="tableDressPReqPending">
                                            <thead class="table-header text-center">
                                                <tr>
                                                    <th>DPR ID</th> <!-- #,No,Index -->
                                                    <th>Designer</th>
                                                    <th>Dress Name</th>
                                                    <th>Required Date</th>
                                                    <th>Urgency Level</th>
                                                    <th style="width:180px">Purchase Request Status</th>
                                                </tr>

                                            </thead>
                                            <tbody class="table-body text-start">
                                                <tr>
                                                    <td>1</td>
                                                    <td><img src="" alt=""></td>
                                                    <td class="text-start">Lehenga</td>
                                                    <td class="text-start">21000.00</td>
                                                    <td>21000.00</td>
                                                    <td>21000.00</td>
                                                    <td>21000.00</td>

                                                </tr>

                                            </tbody>
                                        </table>
                                        <!-- table end -->
                                    </div>

                                </div>
                                <!-- table tab End -->
                            </div>
                        </div>
                    </div>
                    <!-- tab table end -->

                </div>



            </div>
        </div>

    </div>
</body>

</html>